<div class="card-list">
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-red">
        <i class="fa-solid fa-plane-arrival"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-green">
        <i class="fa-solid fa-plane-arrival"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-yellow">
        <i class="fa-solid fa-plane-arrival"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-blue">
        <i class="fa-solid fa-anchor"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-purple">
        <i class="fa-solid fa-building-shield"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-top-container">
      <div class="icon-color-red">
        <i class="fa-solid fa-money-check-dollar"></i>
      </div>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="card-bottom-container">
      <p class="card-bottom-title">Nampa</p>
      <p class="card-bottom-message">
        Good copy doesn’t necessarily mean it has to be humorous, either. It
        just means writing engaging and worth-reading text.
      </p>
    </div>
  </div>
</div>
