<div class="bg-primary">
  <div class="header-top">
    <div class="header-left"><i class="fa-brands fa-github-alt"></i></div>
    <div class="header-right">
      <i class="fa-solid fa-gear"></i>
      <div class="picture"></div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-btn-group">
      <button class="btn-text">Oakland</button>
      <button class="btn-text">Toledo</button>
      <button class="btn-text">Salinas</button>
      <button class="btn-text">Glendale</button>
      <button class="btn-text">Toledo</button>
    </div>
    <button class="btn-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
      <div>Search</div>
    </button>
  </div>
</div>
