<body class="bg-primary">
  <div class="header">
    <div class="header-left"><i class="fa-brands fa-github-alt"></i></div>
    <div class="header-right">
      <i class="fa-solid fa-gear"></i>
      <div class="picture"></div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-btn-group">
      <button class="text-button">Oakland</button>
      <button class="text-button">Toledo</button>
      <button class="text-button">Salinas</button>
      <button class="text-button">Glendale</button>
      <button class="text-button">Toledo</button>
    </div>
    <button class="btn-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
      <div>Search</div>
    </button>
  </div>
</body>
