<div class="list-container">
  <h3>Recent Hires</h3>
  <div class="list-content">
    <div class="card-profile-top-left">
      <img
        class="list-content-pic"
        src="https://i.postimg.cc/66FCBq3D/MTI2-Njk5-Lmpw-Zw.jpg"
        alt="Italian Trulli"
      />
      <div class="list-content-detail">
        <h1>Daniel Lawson</h1>
        <p>aprakash&#64;opton.net</p>
      </div>
    </div>
    <button class="btn-rounded">
      <div>View</div>
    </button>
  </div>
  <div class="list-content">
    <div class="card-profile-top-left">
      <img
        class="list-content-pic"
        src="https://i.postimg.cc/tCLp2s31/avatar-girl-42.jpg"
        alt="Italian Trulli"
      />
      <div class="list-content-detail">
        <h1>Cornell Bunyan</h1>
        <p>cparis&#64;aol.com</p>
      </div>
    </div>
    <button class="btn-rounded">
      <div>View</div>
    </button>
  </div>
  <button class="btn-default">
    <div>View All</div>
  </button>
</div>
