<div class="list-container">
  <h3>Recent Hires</h3>
  <div class="list-content">
    <div class="card-profile-top-left">
      <div class="list-content-pic"></div>
      <div class="list-content-detail">
        <h1>Daniel Lawson</h1>
        <p>cparis&#64;aol.com</p>
      </div>
    </div>
    <button class="btn-rounded">
      <div>View</div>
    </button>
  </div>
  <div class="list-content">
    <div class="card-profile-top-left">
      <div class="list-content-pic"></div>
      <div class="list-content-detail">
        <h1>Cornell Bunyan</h1>
        <p>aprakash&#64;optonline.net</p>
      </div>
    </div>
    <button class="btn-rounded">
      <div>View</div>
    </button>
  </div>
  <button class="btn-default">
    <div>View All</div>
  </button>
</div>
