<div class="bg-slate-100">
  <div class="bg-primary px-6">
    <div class="header-container">
      <div class="header-left"><i class="fa-brands fa-github-alt"></i></div>
      <div class="header-right">
        <i class="fa-solid fa-gear"></i>
        <div class="picture"></div>
      </div>
    </div>
    <app-nav></app-nav>
  </div>
  <div class="px-6">
    <div class="content relative bottom-12">
      <div class="content-left">
        <app-card-profile></app-card-profile>
        <app-card></app-card>
      </div>
      <div class="content-right">
        <app-announcement></app-announcement>
        <app-list></app-list>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
