<div class="announcement-container">
  <h4>Announcements</h4>
  <div class="announcement-content">
    <div class="announcement-content-detail">
      <p class="announcement-content-title">
        There’s more to Mailplane’s Dark Mode than you think
      </p>
      <p class="announcement-content-message">
        Inform your users every time they are about to be charged or have been
        charged.
      </p>
    </div>
    <div class="announcement-content-detail">
      <p class="announcement-content-title">
        What I have learned from running a design system at scale
      </p>
      <p class="announcement-content-message">
        It is now nearly impossible to find out which dribbble designer started
        the “modern” trend around 2016.
      </p>
    </div>
    <div class="announcement-content-detail">
      <p class="announcement-content-title">
        Everything you need to know about skeleton screens
      </p>
      <p class="announcement-content-message">
        There is however a very sci-fi option still on the table as well.
      </p>
    </div>
  </div>
  <button class="btn-default">
    <div>View All</div>
  </button>
</div>
