<div class="card-profile">
  <div class="card-profile-top">
    <div class="card-profile-top-left">
      <div class="card-profile-picture"></div>
      <div class="card-profile-title">
        <p>Welcome back,</p>
        <h3>Steward Courtney</h3>
        <p>Product Manager</p>
      </div>
    </div>
    <button class="btn-default">
      <div>View Profile</div>
    </button>
  </div>
  <div class="card-profile-bottom">
    <div class="card-btn-group">
      <button>Vacation days left</button>
      <button>Sick days left</button>
      <button>Personal days left</button>
    </div>
  </div>
</div>
